---
layout: head_layout
---


<!-- NAVBAR
================================================== -->
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">.NET User Group Dresden</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="treffen.html">Treffen</a></li>
                            <li><a href="http://vimeo.com/groups/dotnetdresden" target="_blank">Videos</a></li>
                            <li><a href="partner.html">Partner</a></li>
                            <li><a href="impressum.html">Impressum</a></li>
                            <!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="Images/pic1.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="content">
                            <h1>Gemeinsam mehr wissen</h1>
                        </div>
                        <div class="background"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="Images/pic2.jpg" alt="Second slide" style="margin: 0 auto; max-height:500px">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="content">
                            <h1>F&uuml;r Entwickler</h1>
                            <p>zum austauschen, spannende Themen, nette Menschen.</p>
                            <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
                        </div>
                        <div class="background"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="Images/pic3.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="content">
                            <h1>Wir treffen uns</h1>
                            <p>und jeder kann teilnehmen. Wir halten dich auf dem laufenden, meld ich einfach an :)</p>
                            <p><a class="btn btn-large btn-primary" href="#">Mailing Liste</a></p>
                        </div>
                        <div class="background"></div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <h1>Die n&auml;chsten Treffen</h1>
        <table class="table" style="margin-bottom: 100px">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Thema</th>
                    <th>Sprecher</th>
                    <th>Ort</th>
                </tr>
            </thead>
            <tbody>
             {% assign nowDate = site.time | date: '%Y%m%d' %}

             {% for post in site.posts %}
                {% assign postDate = (post.date | date: '%Y%m%d') %}
                {% if postDate >= nowDate %}
                   <tr>
                       <td>{{ post.date | date: '%d.%m.%Y | %H:%M Uhr' }}</td>
                       <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                       <td>{{ post.speaker }}</td>
                       <td><a href="{{ post.placelink }}" target="_blank">{{ post.place }}</a></td>
                   </tr>

                {% endif %}
              {% endfor %}
            </tbody>
        </table>



        <!-- Three columns of text below the carousel -->
        <!--    <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
                <h2>Heading</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
            </div>      
            <div class="col-lg-4">
                <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
            </div>
        </div>-->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Tausch dich aus <span class="text-muted">mit spannenden Leuten.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="Images/menschen1.jpg" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="Images/menschen4.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Lerne neues <span class="text-muted">und teile dein Wissen.</span></h2>
                <p class="lead">
                    Mit vielen spannenden Vortr&auml;gen von gro&szlig;artigen Sprechern decken wir ein breites Themengebiet ab. 
                </p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Komm vorbei<span class="text-muted"> und mach mit.</span></h2>
                <p class="lead">Bei uns sind alle willkommen, egal ob Anf&auml;nger oder professionellen Software-Architekten. Jeder ist herzlich eingeladen eigenen Themen vorzustellen oder Ideen und Gedanken zur Diskussion zu bringen. Ach und unsere Treffen sind nat&uuml;rlich kostenlos.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="Images/menschen6.jpg" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

<div class="row featurette">
            <div class="col-md-3">
                <p>
                    <a href="http://devopenspace.de/" title="Open Source. Open Space. Developer Open Space" target="_blank">
                        <img src="http://goo.gl/GPyns" alt="Open Source. Open Space. Developer Open Space" />
                    </a>
                </p>
            </div>
            <div class="col-md-3">
                <h2>Unterst&uuml;tzt durch</h2>
                <a href="http://grossweber.com/b/dnug-dresden" title="Kurs, Schulung, Training und Seminar von grossweber.com" target="_blank">
                    <img src="http://grossweber.com/assets/images/b/grossweber-149-26.png" alt="Kurs, Schulung, Training und Seminar von grossweber.com">
                </a>
                <br />

                <a href="http://grossweber.com/b/dnug-dresden-1" title="Git Kurs">Git Kurse</a> und weitere <a href="http://grossweber.com/b/dnug-dresden-2" title="Git Kurs">Trainings und Seminare</a>
            </div>
            <div class="col-md-3">
        <iframe src='http://www.itsax.de/widget&typ=0&user=0&anzahl=10&link=8B0000&color=000000&border=FFFFFF&liste=&type=j&font=georgia&suchbegriff=.NET <http://www.itsax.de/widget%26typ=0%26user=0%26anzahl=10%26link=8B0000%26color=000000%26border=FFFFFF%26liste=%26type=j%26font=georgia%26suchbegriff=.NET>  ' width='220' height='300' style='border: 0;'></iframe>
        </div>
        </div>


        <hr class="featurette-divider">


        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Nach oben</a></p>
            <p>Bilder von <a href="http://www.timapix.de/">timapix.de</a> &middot; <a href="impressum.html">Impressum</a></p>
        </footer>

    </div>

    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="Scripts/jquery.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/carousel.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#myCarousel').carousel({
                interval: 5000,
                pause: "hover"
            }).carousel('cycle');
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel-inner > .item > img').each(function (index) {

                $(this).css('margin-left', -(($('.item').width()) + 'px'));

            }
        )
        });
    </script>

</body>
</html>
