body{padding-bottom:40px;color:#5a5a5a;}
.navbar-wrapper{position:absolute;top:0;right:0;left:0;z-index:20;}
.navbar-wrapper .container{padding-right:0;padding-left:0;}
.navbar-wrapper .navbar{padding-right:15px;padding-left:15px;}
.carousel{margin-bottom:60px;margin-top:-90px;}
.carousel-caption{z-index:10;}
.carousel .item{height:500px;background-color:#777;}
.carousel-inner > .item > img{position:relative;margin:0 auto;min-width:100%;max-width:none;}
.marketing{padding-left:15px;padding-right:15px;}
.marketing .col-lg-4{text-align:center;margin-bottom:20px;}
.marketing h2{font-weight:normal;}
.marketing .col-lg-4 p{margin-left:10px;margin-right:10px;}
.featurette-divider{margin:25px 0;}
.featurette-heading{font-weight:300;line-height:1;letter-spacing:-1px;}
@media (min-width:768px){.marketing{padding-left:0;padding-right:0;}
.navbar-wrapper{margin-top:20px;}
.navbar-wrapper .navbar{border-radius:4px;}
.carousel-caption p{margin-bottom:20px;font-size:21px;line-height:1.4;}
.featurette-heading{font-size:50px;}
}
@media (min-width:992px){.featurette-heading{margin-top:120px;}
}
.imp-heading{font-size:50px;}
.background{border-radius:4px;position:absolute;margin:0 auto;top:0px;left:0px;width:100%;height:100%;background-color:Black;z-index:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);opacity:.5;}
.content{position:relative;color:White;z-index:5;}
