---
layout: head_layout
---


<!-- NAVBAR
================================================== -->
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/index.html">.NET User Group Dresden</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/treffen.html">Treffen</a></li>
                            <li><a href="http://vimeo.com/groups/dotnetdresden" target="_blank">Videos</a></li>
                            <li><a href="/partner.html">Partner</a></li>
                            <li><a href="/impressum.html">Impressum</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider" style="margin: 30px">

        <div class="row featurette">
            <div style="max-width: 990px; margin: 0 auto; padding:10px">
                <h2 class="featurette-heading" style="margin: 0px; margin-bottom: 20px; margin-top: 45px"> {{ page.title }} </h2>
                <div style="background-color: #f3f3f3; padding: 25px; padding-top: 10px; border-radius: 4px">
                    <div>
                         {{ content }}   
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Nach oben</a></p>
            <p>2014 .NET User Group Dresden &middot; <a href="impressum.html">Impressum</a></p>
        </footer>

    </div>

    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/carousel.js"></script>

</body>
</html>
